[submodule "dev_modules/@ocdla/ors"]
	path = dev_modules/@ocdla/ors
	url = https://github.com/ocdladefense/node-ors.git
    branch = development
[submodule "dev_modules/@ocdla/lib-http"]
	path = dev_modules/@ocdla/lib-http
	url = https://git@github.com/ocdladefense/node-lib-http
    branch = development
[submodule "dev_modules/@ocdla/global-components"]
	path = dev_modules/@ocdla/global-components
	url = https://github.com/ocdladefense/global-components
