

# Ignore settings
config.js

#  But keep default settings.php and settings.js files
#  config-default.php
#  settings-default.php


# Ignore vendor libraries (e.g., authorizedotnet)
/vendor/

# Ignore any logging files.
phplog
node_modules

# dist/*
# !dist/.gitkeep
